#root {
  width: 1100px;
}

body {
  display: flex;
  justify-content: center;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-container {
  width: 100%;
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Header-container p {
  padding: 0 15px;
  font-size: 16px;
  font-weight: 600;
}

.Header-slider-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Charts-container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.Charts-header {
  padding: 10px;
}

.Charts-info {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}

.Charts-info p {
  font-size: 16px;
}

.Charts-info-white {
  color: white;
}

.SeparationLine {
  width: 250px;
  border-bottom: 5px solid grey;
  width: 50%;
  margin: 50px auto;
  border-radius: 2px;
}

.SeparationLine-internal {
  border-bottom: 1px solid grey;
  margin: 20px;
}

.BlockPicker-container {
  display: flex;
  /* justify-content: center; */
  width: 1100px;
  overflow-x: scroll;
  margin-bottom: 15px;
}

.BlockDetails-container {
  padding: 10px;
}

.BlockDetails-transaction-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.AboutModal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutModal-info {
  display: flex;
  flex-direction: column;
  padding: 5px 0 20px 0;
}

.AboutModal-info-head {
  padding: 5px 0 20px 0;
}
